<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đăng nhập - Quản lý khách sạn</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>


<body>

<div class="login-container">

    <div class="login-box">

        <h2>
            🏨 HOTEL MANAGEMENT
        </h2>

        <p>
            Vào hệ thống quản lý khách sạn
        </p>


        <a href="/dashboard">
            <button type="button">
                🔑 Đăng nhập
            </button>
        </a>


        <br><br>


        <a href="/">
            ← Quay lại trang chủ
        </a>


    </div>

</div>

</body>

</html>